{% extends "base.html" %}
{% block title %}Event{% endblock title %}

{% block content %}
<div class="w-1/2 mx-auto mt-8">
        <div>
            {% if messages %}
                {% for message in messages %}
                    <div class="px-2 py-1 {% if message.tags == 'success' %}bg-green-500{% endif %} ">{{message}}</div>
                {% endfor %}
            {% endif %}
        </div>
        <form method="POST" class="bg-white p-5">
            
            {% csrf_token %}
            {{ event_form }}
            {{ location_form }}
            <button type="submit" class="mb-5 bg-blue-400 hover:bg-blue-600 px-3 py-2 text-white mt-2 rounded-md">Submit</button>
        </form>
    </div>
{% endblock content %}
