{% extends "base.html" %}
{% load static %}
{% block title %}Dashboard{% endblock title %}

{% block content %}
<main>
    <div class="w-full mt-1">
        <img src="{% static 'images/event1.jpg' %}" alt="img">
    </div>
    <div class="mt-10 text-center">
        <h1 class="font-serif text-3xl lg:text-4xl font-bold text-blue-400 mb-3">ABOUT US</h1>
        <p class="font-serif text-lg lg:text-4xl">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero ad culpa animi quidem! Nam officia quia est maiores aliquid ipsam tenetur sit, temporibus cum reiciendis voluptatibus. Voluptate, culpa, quod voluptas soluta, ipsam ratione aut dolorem consequuntur assumenda nesciunt distinctio perspiciatis.</p>
    </div>

</main>










{% endblock content %}