{% extends "base.html" %}
{% load static %}
{% block title %}Dashboard{% endblock title %}

{% block content %}

    <div class="grid grid-cols-1 lg:grid-cols-4 sm:grid-cols-2 gap-6 mb-8">
        {% if events %}
            {% for event in events %}
                <div class="bg-white rounded-lg shadow-md p-5 mt-8">
                    <a href="{% url 'event_detaile' event.id %}">
                        <div class="mb-4">
                            <img class="h-48 w-full rounded-lg" src="{% static 'images/event.jpg' %}" alt="img">
                        </div>
                    </a>
                    <div>
                        <p class="font-semibold text-lg">{{ event.name }}</p>
                        <p>{{ event.description }}</p>
                        <p><span class="font-semibold">Category:</span> {{ event.category }}</p>
                    </div>

                    {% if user.is_authenticated %}
                        <form action="{% url 'rsvp-event' event.id %}" method="POST" class="mt-4">
                            {% csrf_token %}
                            <button type="submit"
                                    class="bg-blue-500 hover:bg-blue-700 text-white py-2 px-4 rounded">
                                RSVP
                            </button>
                        </form>
                    {% else %}
                        <p class="text-sm text-gray-500 mt-2">Login to RSVP</p>
                    {% endif %}
                </div>
            {% endfor %}
        {% else %}
            <div class="flex w-full h-96 justify-center p-auto">
                <p class="font-serif text-xl">No Result Found</p>
            </div>
        {% endif %}
    </div>

{% endblock content %}